.presentation {
  margin: 200px auto 200px;
  display: flex;
  align-items: center;
}

.img-container {
  width: 50%;
  border-radius: 8px;
  transform: translateY(100px);
}

.text {
  padding: 100px 60px;
  text-align: center;
  background-color: var(--yellow);
  height: fit-content;
  transform: translateX(-10px) translateY(100px);
  position: relative;
  z-index: -1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.img-container.animate {
  animation: slide .7s ease-in-out forwards;
}

.text.animate {
  animation: slide .7s .1s ease-in-out forwards;
}

@keyframes slide {
  100% {
    transform: translateY(0);
  }
}
