<div class="bg" *ngIf="is_open">
  <dialog [open]="is_open">
    <div class="content">
      <div class="close">
        <button (click)="emitConfirm(false)">X</button>
      </div>
      <div class="body">
        <ng-content></ng-content>
      </div>
      <div class="btn-container">
        <button (click)="emitConfirm(false)" class="tertiary">Annuler</button>
        <button (click)="emitConfirm(true)" class="primary warning">{{action}}</button>

      </div>
    </div>

  </dialog>
</div>
