.flex {
  margin: 200px auto;
  display: grid;
  grid-template-columns: 40% 25%;
  align-items: center;
  gap: 35%;
}

.img-container {
  overflow: hidden;
  border-radius: 8px;
}

.group {
  margin-bottom: 20px;
}

input:not([type='checkbox']), textarea {
  border: solid grey 1px;
  border-radius: 5px;
  display: block;
  line-height: 2em;
  vertical-align: center;
  width: 100%;
}

*:focus {
  outline: #ffdf93 3px solid;
}

.group > .error {
  color: red;
}

button {
  background-color: #ffdf93;
  border: solid black 2px;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 5px;
}

button:disabled {
  cursor: not-allowed;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-invalid:focus {
  outline-color: rgba(255, 91, 91, 0.67);
}

input.ng-touched.ng-valid {
  border-color: green;
}

input.ng-touched.ng-valid:focus {
  outline-color: rgba(70, 244, 70, 0.67);
}
