<main *ngIf="sandwich">
  <h1>{{sandwich.name | titlecase}}</h1>

  <form (ngSubmit)="saveOrder()" [formGroup]="order_form">
    <div>
      <label for="protein">Protéine</label>
      <select id="protein" formControlName="protein">
        <option disabled  value="">--Choisissez votre protéine</option>
        <option *ngFor="let p of proteins" [value]="p">{{p}}</option>
      </select>
    </div>
    <div>
      <fieldset>
        <legend>Boisson</legend>
        <div *ngFor="let b of boissons">
          <label [for]="b">{{b}}</label>
          <input name="boisson" formControlName="boisson" [id]="b"  type="radio" [value]="b">
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset formArrayName="legumes">
        <legend>Légumes</legend>
        <div *ngFor="let v of veggies">
          <label [for]="v">{{v}}</label>
          <input [id]="v" [value]="v" type="checkbox" name="veggies" (change)="addVeggie(v, $event)" >
        </div>
      </fieldset>
    </div>

    <div>
      <label for="quantity">Quantité</label>
      <input id="quantity" formControlName="quantity">
    </div>
    <button>Ajouter au panier</button>
  </form>

</main>
