@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Imperial+Script&family=Inter&display=swap');

:root {
  --main: #ffdf93;
}
:root {
  --yellow: #ffdf93;
  --red: #ffdff1;
  --blue: #E4FDE1;
  --dark: #152328;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: var(--dark);
}

* {box-sizing: border-box}

h1, h2, h3, .subtitle {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
}


.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.centered {
  width: 80%;
  margin: auto;
}

main {
  margin: 200px auto;
}
