  <div class="presentation centered">
    <div class="img-container">
      <img src="https://images.pexels.com/photos/2233729/pexels-photo-2233729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
    <div class="text">
      <h2>Nos Chefs, à votre service</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      <p>Ab deserunt enim eos minima officia quas quod rem vel voluptas voluptatem? </p>
      <p>Adipisci consequatur dolores fugiat incidunt magni repudiandae tempora veniam voluptatem?</p>
    </div>
  </div>

